mixin form_group(label, id, input, input_type, value, form_group_name)
  #form-group(class=form_group_name)
    #{input}.form-control(id=id, type=input_type, value=value)
    label.form-label #{label}