include ./picture
include ./review

mixin restaurants
  each restaurant in restaurants
    li.list-group-item
      .row
        .col-md-3.col-restaurant-picture
          //- Here Goes Picture of Restaurant
         
          if restaurant.image[0] == undefined
            img(src="/static/images/imageNA.png" height="120px" width="100%" alt="restaurant picture" style="margin-top: 15px")
          else
            img(src="/"+restaurant.image[0] height="70px" width="100%" alt="restaurant picture" style="margin-top: 15px")
        .col-md-10.col-restaurant-info
          //- Information About Restaurant
          a(href="/restaurants/"+restaurant._id)
            h4=restaurant.name
          -var sum = 0;
          -var review_count = 0;
            each review in reviews
              if restaurant._id == review.restaurant_id
                -sum=sum+review.stars
                -review_count++;
            -var n = 0;
            span(style = "display:inline-block;width:100%;")   
              while n<Math.round(sum/review_count, 10)
                i.fas.fa-star.heading-1.icon
                - n++
              a(href="/restaurants/"+restaurant._id)
                if review_count == 1
                  p #{review_count} review
                else 
                  if review_count == 0
                    a(href="/restaurants/"+restaurant._id+"/reviews/add") #{review_count} reviews, add a review now  
                  else
                    p #{review_count} reviews 
   
          p=restaurant.cuisine  
          

mixin restaurant_info

  .row.restaurant-title
    .col-md-6.col-restaurant-title
      h1=restaurant.name
    .col-md-6.col-restaurant-title
      if locals.user
        if locals.user.admin == true
          a.btn.btn-red.float-right.delete-restaurant(href='#' data-id=restaurant._id) Delete
          a.btn.btn-gray.float-right(href=restaurant._id + '/edit' ) Edit
          a.btn.btn-success.float-right(href=restaurant._id + "/upload" data-id=restaurant._id) Manage photos   
            i.fas.fa-camera-retro
     
           
  hr
  .row.restaurant-heading-1
    - var sum = 0;
    each review in reviews
     -sum=sum+review.stars;
    +stars(Math.round(sum/reviews.length, 10))

    p.heading-1.underlined #{reviews.length} reviews 
    p.heading-1 |
    p.heading-1= restaurant.cuisine
  .row.restaurant-heading-2
    i.fas.fa-map-marker-alt.heading-2.icon
    #address
      span
        | #{restaurant.nr} 
        | #{restaurant.street}, 
        | #{restaurant.city},
        | #{restaurant.country},
        | #{restaurant.postcode} |
  
    i.fas.fa-phone-volume.heading-2.icon
    p.heading-2=restaurant.phoneNumber + ' | '
    i.fas.fa-laptop.heading-2.icon-web
    - if(restaurant.website)
      p.heading-2
        a.simple-link(href='http://' + restaurant.website.replace('http://','')) Official Website

  +picture

  p.description= restaurant.description

      

 
    
