mixin reviews
  
  if reviews.length == 0 
    p This restaurant has not received any review yet. 
    p Add one!

  each review in reviews
    
    - var n = 0;
      while n < review.stars
        i.fas.fa-star.heading-1.icon
        - n++
      button.btn-pic
        i.fas.fa-times.delete-review(data-id=review, name=review._id, restaurant_id=review.restaurant_id)
    h5=review.title
    p=review.comment
    
    br

    .row.restaurant-pictures
      each image in review.image
        .col-md-12.picture-container
          .picture-container
            img.picture(src="/"+image)
    hr
  script(src='/javascripts/review.js')


mixin reviews_info
  br
  br
  if reviews.length == 0 
    p This restaurant has not received any review yet. 
    p Add one!

  -var one_count = 0 
  -var two_count = 0
  -var three_count = 0
  -var four_count = 0
  -var five_count = 0 
  - var width = 0 
  - var n = 0;

  each review in reviews 
    if Math.round(review.stars,10) == 1
      -one_count = one_count + 1
    else 
      if Math.round(review.stars,10) == 2
        -two_count = two_count + 1
      else
        if Math.round(review.stars,10) === 3
          -three_count  = three_count + 1
        else
          if Math.round(review.stars,10) == 4
            -four_count  = four_count + 1
          else
            if Math.round(review.stars,10) == 5
              -five_count  = five_count + 1

  +review_bar(five_count, 'Excellent')
  +review_bar(four_count, 'Very Good')
  +review_bar(three_count, 'Average')
  +review_bar(two_count, 'Poor')
  +review_bar(one_count, 'Terrible')

mixin review_bar(count, title)
  .row
    .col-md-3
      p= title
    .col-md-4
      - var width = (count/reviews.length*100).toFixed(0)
      .progress
        .progress-bar(role='progressbar', style='width: ' + width + '%', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
    .col-md-3
      p #{count} reviews
    .col-md-2
      p=width+"%"
  

  script(src='/javascripts/review.js')