extends ../panels/layout
include ../components/form
  
block content

  .container.content

    .col-md-10.col-md-offset-6

      != messages('panels/flash', locals)

    .row.title
      .col-md-12.text-center

        h1.title #{title}

    .row
      .col-md-8.offset-md-2

        form.create-form(autocomplete="off")
          
          //- Form Group with parameters form_group(label, id, input, input_type, value, form_group_name)
          h4.form-label Name
          +form_group("Name", "name", "input", "text", "", "restaurant-form-group")
          h4.form-label Address
          #form-group(class="restaurant-form-group")
            input.form-control(id="search-address", type="text", value="", autocomplete="off")
            label.form-label Search Address
          br
          #form-group(class="restaurant-form-group")
            span.mini
              input.form-control(id="nr", type="text", value="", disabled=true)
              label.form-label Street Nr
            span.maxy
              input.form-control(id="street", type="text", value="", disabled=true)
              label.form-label Street
          #form-group(class="restaurant-form-group")
            span.compressed
              input.form-control(id="city", type="text", value="", disabled=true)
              label.form-label City
            span.compressed
              input.form-control(id="county", type="text", value="", disabled=true)
              label.form-label County
          #form-group(class="restaurant-form-group")
            span.compressed
              input.form-control(id="country", type="text", value="", disabled=true)
              label.form-label Country
            span.compressed
              input.form-control(id="postcode", type="text", value="", disabled=true)
              label.form-label Postcode
          h4.form-label Contact
          #form-group(class="restaurant-form-group")
            span.compressed
              input.form-control(id="phoneNumber", type="number", value="", placeholder="eg. 7458 33241")
              label.form-label Phone
            span.compressed
              input.form-control(id="website", type="text", value="", placeholder="eg. www.restaurant.co.uk")
              label.form-label Website
          h4.form-label Details
          +form_group("Cuisine", "cuisine", "input", "text", "", "restaurant-form-group")
          +form_group("Description", "description","textarea", "", "", "restaurant-form-group")
          br

          button.btn.btn-purple.create-restaurant(type="submit") Create


  script(src='/javascripts/map.js')