extends ../panels/layout
include ../components/form

block content

  .container.content

    .row.title
      .col-md-12.text-center

        h1.title #{title}
    .row
      .col-md-8.offset-md-2

        form.edit-form
        
          //- Form Group with parameters form_group(label, id, input, input_type, value, form_group_name)
          h4.form-label Name
          +form_group("Name", "name", "input", "text", restaurant.name, "restaurant-form-group")
          h4.form-label Address
          #form-group(class="restaurant-form-group")
            input.form-control(id="search-address", type="text", value="", autocomplete="off")
            label.form-label Search Address
          br
          #form-group(class="restaurant-form-group")
            span.mini
              input.form-control(id="nr", type="text", value=restaurant.nr, disabled=true)
              label.form-label Street Nr
            span.maxy
              input.form-control(id="street", type="text", value=restaurant.street, disabled=true)
              label.form-label Street
          #form-group(class="restaurant-form-group")
            span.compressed
              input.form-control(id="city", type="text", value=restaurant.city, disabled=true)
              label.form-label City
            span.compressed
              input.form-control(id="county", type="text", value=restaurant.county, disabled=true)
              label.form-label County
          #form-group(class="restaurant-form-group")
            span.compressed
              input.form-control(id="country", type="text", value=restaurant.country, disabled=true)
              label.form-label Country
            span.compressed
              input.form-control(id="postcode", type="text", value=restaurant.postcode, disabled=true)
              label.form-label Postcode
          h4.form-label Contact
          #form-group(class="restaurant-form-group")
            span.compressed
              input.form-control(id="phoneNumber", type="number", value=restaurant.phoneNumber)
              label.form-label Phone
            span.compressed
              input.form-control(id="website", type="text", value=restaurant.website)
              label.form-label Website
          h4.form-label Details
          +form_group("Cuisine", "cuisine", "input", "text", restaurant.cuisine[0], "restaurant-form-group")
          +form_group("Description", "description","input", "text", restaurant.description, "restaurant-form-group")
          br
          button.btn.btn-purple.edit-restaurant(type="submit", data-id=restaurant._id) Save
          